# Node dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# OS / editor
.DS_Store
.vscode/
.idea/

#additional files
.nix
.nixpacks.toml  
TUTORIAL_BACKEND.md
TUTORIAL_FRONTEND.md